fastapi>=0.95.0
pydantic-settings
SQLAlchemy
uvicorn>=0.21.0
python-multipart>=0.0.6
transformers>=4.30.0
python-docx>=0.8.11
PyPDF2>=3.0.0
pandas>=1.5.0
numpy>=1.23.0
torch>=2.0.0
rich
asgi-correlation-id
python-json-logger
jinja2
pytailwindcss
python-dateutil